@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
  --container: 1200px;
}

*{
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

html, body { height: 100%; }
body{
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: #ffffff;
  color: #0b1220;
  
  overflow-x: hidden;
}

.container-max{
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.blur-blob{
  filter: blur(40px);
  opacity: .45;
}

.grid-dots{
  background-image: radial-gradient(rgba(255,255,255,.23) 1px, transparent 1px);
  background-size: 14px 14px;
}

.text-balance { text-wrap: balance; }

/* Swiper tweaks */
.swiper-pagination-bullet{
  background: rgba(255,255,255,.5) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background: rgba(255,255,255,.95) !important;
}
